$brainflix-black: #323232;
$brainflix-darkblack: #000000;
$silver: #afafaf;
$mercury: #e1e1e1;
$white: white;
$alabaster: #fafafa;
$brainflix-blue: #0095ff;
$brainflix-darkblue: #0065ad;

$tablet-change: 768px;
$desktop-change: 1280px;

$withoutmobile-general-spacing: 36px;
$desktop-side-spacing: 128px;
$addsixteen: 16px;
