@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url("../assets/Fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url("../assets/Fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url("../assets/Fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: relative;
  -webkit-animation: 1s ease-out 0s 1 slideFromTop;
          animation: 1s ease-out 0s 1 slideFromTop;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 160px;
    padding-right: 160px;
  }
}
.header__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__form {
    width: 60%;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}
@media (min-width: 1280px) {
  .header__form {
    width: 40%;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}
.header__form-bottom {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__form-bottom {
    width: 80%;
    justify-content: flex-end;
  }
}
.header__searchWrapper {
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .header__searchWrapper {
    width: 100%;
  }
}
.header__search {
  width: 100%;
  min-height: 48px;
  margin-top: 11.2px;
  margin-bottom: 8px;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  padding-left: 48px;
}
@media (min-width: 768px) {
  .header__search {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.header__search::-moz-placeholder {
  color: #323232;
  position: relative;
  top: 1px;
}
.header__search:-ms-input-placeholder {
  color: #323232;
  position: relative;
  top: 1px;
}
.header__search::placeholder {
  color: #323232;
  position: relative;
  top: 1px;
}
.header__search:focus {
  outline: none;
  border: 2px solid #0095ff;
}
.header__searchImg {
  position: absolute;
  left: 24px;
  top: 24px;
}
@media (min-width: 768px) {
  .header__searchImg {
    top: 12.8px;
  }
}
.header__uploadImg {
  position: relative;
  right: 8px;
  bottom: 2px;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 48px;
  background-color: #0095ff;
  border-radius: 4px;
  font-size: 13px;
  border: none;
}
@media (min-width: 768px) {
  .header__button {
    margin-left: 16px;
    width: 60%;
    flex-grow: 2;
  }
}
.header__button:hover {
  background-color: #0065ad;
}
.header__mohan {
  border-radius: 50%;
  min-height: 48px;
  min-width: 48px;
  margin-left: 16px;
  background-image: url("../../assets/Images/Mohan-muruge.jpg");
  background-size: cover;
  transition: transform, 0.5s;
  transition-timing-function: ease;
}
@media (min-width: 768px) {
  .header__mohan {
    margin-left: 16px;
  }
}
.header__mohan:hover {
  transform: scale(1.1);
}

@-webkit-keyframes slideFromTop {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=Header.css.map */